@use '../../../base/vars';

.rich-text-area {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding: 16px;
    background: vars.$white;
    border: 1px solid vars.$black;
    border-radius: 5px;
    box-shadow: vars.$shadow;

    &__preview {
        display: flex;
        flex-direction: column;
        min-height: 120px;
        padding: 12px;

        border-radius: 5px;
        background-color: vars.$gray;

        & * {
            all: revert;
            overflow-wrap: anywhere;
            margin-top: 0;
        }

        & blockquote {
            padding: 16px;
            background: vars.$gray;
            border-radius: 5px;

            p {
                margin-bottom: 0;
            }
        }

        & *:last-child {
            margin-bottom: 0;
        }
    }

    & * {
        box-shadow: none;
    }
}