@use '../../base/vars';

.select {
    $component-selector: &;

    min-width: 200px;

    position: relative;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;

    &__bar {
        display: flex;
        align-items: center;
        justify-content: space-between;

        min-height: 40px;
        max-height: 40px;
        padding: 0 12px;

        background: vars.$white;
        box-shadow: vars.$shadow;
        border: 1px solid vars.$black;
        border-radius: 5px;
    }

    &__icon {
        pointer-events: none;
        transition: transform 0.1s;
    }

    &_opened {
        #{$component-selector}__icon {
            transform: rotate(-180deg);
        }
    }

    &__options {
        display: flex;
        flex-direction: column;

        position: absolute;
        left: 0;
        right: 0;
        top: 48px;

        background-color: vars.$white;
        box-shadow: vars.$shadow;
        border: 1px solid vars.$black;
        border-radius: 5px;

        overflow: hidden;

        &-enter {
            opacity: 0;
        }

        &-enter-active {
            opacity: 1;
            transition: opacity 200ms;
        }

        &-exit {
            opacity: 1;
        }

        &-exit-active {
            opacity: 0;
            transition: opacity 200ms;
        }
    }

    &__option {
        display: flex;
        align-items: center;

        min-height: 40px;
        max-height: 40px;
        padding: 0 12px;

        &:hover {
            background-color: vars.$white-hover;
        }
    }
}