@use '../base/vars';

.content-card {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 24px;

    background: vars.$white;
    box-shadow: vars.$shadow;
    border: 1px solid vars.$black;
    border-radius: 5px;

    &__head {
        display: flex;
        justify-content: space-between;
    }

    &__link {
        &:hover {
            text-decoration: underline;
        }
    }

    &__body {
        white-space: pre-wrap;
        line-height: 150%;
    }

    $selector: &;

    &_preview {
        max-height: 220px;

        #{$selector}__body {
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
}