@use '../../base/vars';

.post-card {
    $component-selector: &;

    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 24px;
    
    background: vars.$white;
    box-shadow: vars.$shadow;
    border: 1px solid vars.$black;
    border-radius: 5px;

    &__title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__body {
        overflow-wrap: break-word;
        line-height: 150%;     
    }

    &_preview {
        #{$component-selector}__body {
            max-height: 150px;
            overflow: hidden;
        }
    }
}