.pagination {
    display: flex;
    justify-content: center;
    column-gap: 16px;
    
    &__buttons-wrapper {
        display: flex;
        column-gap: 16px;
    }

    &__ellipsis {
        align-self: flex-end;
    }

    &__buttons {
        display: flex;
        justify-content: center;
        gap: 16px;
    }

    &__chevron-down {
        &_left {
            rotate: 90deg;
        }

        &_right {
            rotate: -90deg;
        }
    }
}