.posts-route {
    &__input-and-select {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        gap: 24px;
    }

    &__pagination-and-limit {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }

    &__input-and-select,
    &__message,
    &__list {
        margin-bottom: 40px;
    }
}