@use '../../base/vars';

.user-route {
    &__section {
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        padding: 24px;
        margin-bottom: 40px;

        background: vars.$white;
        box-shadow: vars.$shadow;
        border: 1px solid vars.$black;
        border-radius: 5px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    &__heading {
        align-self: flex-start;
        color: vars.$light-blue;
    }
}