@use '../../base/vars';

.input {
    display: flex;
    flex-direction: column;

    &__label {
        margin-bottom: 8px;
    }

    &__input {
        min-height: 40px;
        max-height: 40px;
        padding: 0 12px;
        
        background-color: vars.$white;
        box-shadow: vars.$shadow;
        border: 1px solid vars.$black;
        border-radius: 5px;
    }
}