@use '../../base/vars';

.search {
    & label {
        display: block;
        margin-bottom: 8px;
        user-select: none;
    }

    &__form {
        position: relative;

        & input {
            padding-right: 38px;
        }
    }
    
    &__icon {
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 12px;

        & svg {
            cursor: pointer;
        }
    }
}